<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>arya</title>
    <style type=text/css>
        @font-face {font-family: Monaco; src: url("Monaco.ttf");} 

        h1{
            font-family: Monaco
        }
        
        p{
            font-family: Monaco;
        }
    </style>
</head>

<body style="background-color: #141414;">
    <h1 align="centre">The bot has been running for:</h1>
    <p align="centre"><%= botruntime %></p>
    <br>
    <p align="centre" style="font-family: Monaco;" href="https://discord.com/api/oauth2/authorize?client_id=863594718565892107&permissions=8&scope=bot">Invite arya now!</p>
</body>

</html>